$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}

.help {}

.is-danger {}

.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}

.login-card {
  background-image: url('../../../assets/Images/login11.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: -webkit-fill-available !important;
}
.login-card-column {
  min-width: 22%;
}
