<div class="lang-flags">
    <button mat-icon-button fxHide="true" [fxHide.gt-xs]="false" (click)="useLanguage('de')">
        <span class="flag-icon flag-icon-de"></span>
      </button>
      <button mat-icon-button fxHide="true" [fxHide.gt-xs]="false" (click)="useLanguage('en')">
        <span class="flag-icon flag-icon-us"></span>
      </button>
</div>
<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" class="login-card">
  <div fxLayout="column" class="login-card-column">

    <div class="mat-elevation-z4">
      <mat-card>
        <mat-card-title>{{ 'login.login' | translate }}
          <!-- <a class="redirect" [routerLink]="['/sigup']">Register an account</a> -->
        </mat-card-title>
        <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
              <input type="email" id="email" class="input" placeholder="{{ 'login.Email' | translate }}"
                formControlName="email" required matInput autofocus>
            </mat-form-field>
            <div *ngIf="formErrors.email" class="help is-danger">
              {{ formErrors.email }}
            </div>
            <mat-form-field class="full-width">
              <input type="password" id="password" class="input" placeholder="{{ 'login.Password' | translate }}"
                formControlName="password" required matInput>
            </mat-form-field>
            <div *ngIf="formErrors.password" class="help is-danger">
              {{ formErrors.password }}
            </div>
            <button mat-raised-button color="warn" type="submit"
              [disabled]="!loginForm.valid">{{ 'login.login1' | translate }}</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>