@import "../../../assets/scss/variables";
  
  /*footer*/

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: $secondary;
    opacity: 0.8;  
    color: white;
}

.pt2{
    padding-top: 2px;
}

