<footer>
  <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 pt2">
          &nbsp;&nbsp; &nbsp;<i class="fa fa-user"></i>&nbsp; Dhaval Nariya
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="flags">
            <ul>
              <li><a (click)="useLanguage('de')" class="hover"><img src="../assets/Images/Flag_De.png" /></a></li>
              <li><a (click)="useLanguage('en')" class="hover"><img src="../assets/Images/Flag_Us.png" /></a></li>
            </ul>
          </div>
      </div>
  </div>
</footer>