<div class="toolbar-user-container">
  <button mat-button (click)="isOpen = !isOpen" class="toolbar-user-btn" [class.open]="isOpen"
    [ngStyle.xs]="{'min-width': '70px'}" [ngStyle.lg]="{'min-width': '230px'}">
    <span fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar" [src]="currentUser?.photoURL || 'assets/Images/noavatar.png'">
      <span class="name" fxHide fxShow.gt-xs>{{currentUser?.fullName}}</span>
      <mat-icon class="icon" fxHide fxShow.gt-xs>keyboard_arrow_down</mat-icon>
    </span>
  </button>


  <div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    <div class="content">
      <mat-nav-list>
        <!-- <mat-list-item (click)="navigateToLink('/admin/edit-profile')">
          <a matLine>{{ 'HeaderFooter.EditProfile' | translate }}</a>
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item (click)="navigateToLink('/admin/change-password')">
          <a matLine>{{ 'HeaderFooter.ChangePassword' | translate }}</a>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </mat-list-item> -->

        <!-- <mat-divider></mat-divider> -->

        <mat-list-item (click)="logout()">
          <a matLine>{{ 'HeaderFooter.LogOut' | translate }}</a>
          <button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>