<mat-toolbar class="panel-header">
    <h1 mat-dialog-title class="mat-headline center-align">{{ 'PanelHeader.RFPManagement' | translate }}</h1>
</mat-toolbar>

<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>


<div mat-dialog-actions class="footer">
  <button mat-raised-button (click)="onNoClick()">{{ 'common.Cancel' | translate }}</button>
</div>
