<mat-nav-list [style.maxHeight]="(menu.open)?'1200px':'56px'"
  [ngClass]="{'secondaryMenu': secondaryMenu, 'primary': !secondaryMenu}">
  <!-- <mat-list-item *ngIf = "menu.link==false" (click)="menu.open = !menu.open" >
        <mat-icon matListIcon iconsmall  >{{menu.icon}} </mat-icon>
        <h3 matLine *ngIf="!iconOnly">{{ menu.name }} </h3>
        <mat-chip-list *ngIf="menu?.chip && !iconOnly">
            <mat-chip >{{menu?.chip?.value}} </mat-chip>
        </mat-chip-list>        
        <mat-icon *ngIf="chechForChildMenu()" class="sidenav-dropdown-indicator rotate " [ngClass]="{'indicateOpen':menu.open}"> expand_more</mat-icon>
    </mat-list-item> -->

  <mat-list-item *ngIf="menu.link!=false" (click)="menu.open = !menu.open" [routerLink]="[menu.link]"
    [ngClass]="{'active': paths[menu.paths].isActive}">
    <mat-icon matListIcon iconsmall>{{menu.icon}} </mat-icon>
    <h3 matLine *ngIf="!iconOnly">{{ ('LeftMenu.'+ menu.name) | translate }} </h3>
  </mat-list-item>

  <!-- <app-sidemenu-item *ngFor="let submenu of menu?.sub" [menu]="submenu" [iconOnly]="iconOnly" [secondaryMenu]="true"> </app-sidemenu-item> -->

</mat-nav-list>