<mat-sidenav-container class="container" fullscreen>
  <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <img src="./assets/Images/marbet_logo_color@2x2.png" height="30px" class="marbet-logo-sm">
    </mat-toolbar>
    <app-sidemenu></app-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content style="z-index: unset;overflow: hidden;">
    <mat-drawer-container fullscreen>
      <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z4 plr-0">
          <img src="./assets/Images/marbet_logo_color@2x2.png" width="60px" class="marbet-logo">
        </mat-toolbar>
        <app-sidemenu [iconOnly]="true"></app-sidemenu>
      </mat-drawer>
      <mat-drawer-content style="overflow: hidden;">

        <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow"
          style="z-index: 500"></cdk-toolbar>


        <perfect-scrollbar style="height: calc(100vh - 33px);">
          <router-outlet></router-outlet>
        </perfect-scrollbar>


      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>

  <mat-sidenav #sidenav2 position="end" mode="over">
    <cdk-sidebar></cdk-sidebar>
  </mat-sidenav>

</mat-sidenav-container>