<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
  <div fxFlex class="panel-component-holder mat-elevation-z4">
    <mat-toolbar class="panel-header">
      <h1 class="mat-headline center-align">{{ 'PanelHeader.UserDetail' | translate }}</h1>
    </mat-toolbar>
    <form class="panel-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px" fxFlex.xs="100"
          fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
         
          <mat-form-field fxFlex.xs="100" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="30">
            <mat-select placeholder="{{ 'Users.Salutation' | translate }}"  formControlName="salutation">
              <mat-option>{{ 'Users.SelectSalutation' | translate }}</mat-option>
              <mat-option value="male">{{ 'Users.SalutationList.male' | translate }}</mat-option>
              <mat-option value="female">{{ 'Users.SalutationList.female' | translate }}</mat-option>
            </mat-select>
            <mat-error>
              <span *ngIf="!userForm.get('salutation').valid && userForm.get('salutation').touched">{{ 'Users.Message.SalutationReq' | translate }}</span>
            </mat-error>
          </mat-form-field>

          <!-- <mat-form-field fxFlex.xs="100" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="30">
            <input matInput placeholder="{{ 'Users.Salutation' | translate }}*" formControlName="salutation">
            <mat-error>
              <span *ngIf="!userForm.get('salutation').valid && userForm.get('salutation').touched">{{ 'Users.Message.SalutationReq' | translate }}</span>
            </mat-error>
          </mat-form-field> -->
          <mat-form-field fxFlex.xs="100" fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="70">
            <input matInput placeholder="{{ 'Users.FirstName' | translate }}*" formControlName="firstName">
            <mat-error>
              <span *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').touched">{{ 'Users.Message.FirstNameReq' | translate }}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <input matInput placeholder="{{ 'Users.LastName' | translate }}*" formControlName="lastName">
          <mat-error>
            <span *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched">{{ 'Users.Message.LastNameReq' | translate }}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px">

        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <input matInput placeholder="{{ 'Users.Company' | translate }}*" formControlName="company">
          <mat-error>
            <span *ngIf="!userForm.get('company').valid && userForm.get('company').touched">{{ 'Users.Message.CompanyReq' | translate }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <input matInput placeholder="{{ 'Users.Department' | translate }}*" formControlName="department">
          <mat-error>
            <span *ngIf="!userForm.get('department').valid && userForm.get('department').touched">{{ 'Users.Message.DepartmentReq' | translate }}</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px">

        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <input matInput placeholder="{{ 'Users.Street' | translate }}" formControlName="street">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <input matInput placeholder="{{ 'Users.PostCode' | translate }}" formControlName="postcode">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px">

        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <input matInput placeholder="{{ 'Users.Place' | translate }}" formControlName="place">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <mat-select placeholder="{{ 'Users.Land' | translate }}*" formControlName="land">
            <mat-option>{{ 'Users.SelectLand' | translate }}</mat-option>
            <mat-option *ngFor="let country of countries" [value]="country.value"> {{country.display}} </mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!userForm.get('land').valid && userForm.get('land').touched">{{ 'Users.Message.LandReq' | translate }}</span>
          </mat-error>
        </mat-form-field>

      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px">

        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >
          <input matInput placeholder="{{ 'Users.Email' | translate }}*" formControlName="email" >
          <mat-error *ngIf="userForm.get('email').hasError('email') && !userForm.get('email').hasError('required')">
            {{ 'Users.Message.EmailInValid' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('email').hasError('required')">
            {{ 'Users.Message.EmailReq' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <input matInput placeholder="{{ 'Users.Telephone' | translate }}" formControlName="telephone">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px">

        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <input matInput placeholder="{{ 'Users.TaxNumber' | translate }}" formControlName="taxIdentificationNo">
        </mat-form-field>
          <mat-slide-toggle color="warn" formControlName="active" fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50"
            fxFlex.sm="50">{{ 'Users.IsActive' | translate }}</mat-slide-toggle>
       
      </div>
      <mat-divider class="mt-10"></mat-divider>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px">
        <mat-form-field fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <mat-select placeholder="{{ 'Users.SubscriptionType' | translate }}" (selectionChange)="ValidatePermission()" formControlName="subscription">
            <mat-option>{{ 'Users.SelectSubscription' | translate }}</mat-option>
            <mat-option *ngFor="let subscription of subscriptionTypes" [value]="subscription.value">
              {{subscription.display}} </mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!userForm.get('subscription').valid && userForm.get('subscription').touched">{{ 'Users.Message.SubscriptionReq' | translate }}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px">
        <mat-slide-toggle color="warn" formControlName="isAdmin" fxFlex.xs="100" fxFlex.lg="25" fxFlex.md="25"
          fxFlex.sm="25">{{ 'Users.IsAdmin' | translate }}</mat-slide-toggle>
        <mat-slide-toggle color="warn" formControlName="hotel" fxFlex.xs="100" fxFlex.lg="25" fxFlex.md="25"
          fxFlex.sm="25" (change)="toggleHotel($event)">{{ 'Users.Hotel' | translate }}</mat-slide-toggle>
        <mat-slide-toggle color="warn" formControlName="location" fxFlex.xs="100" fxFlex.lg="25" fxFlex.md="25"
          fxFlex.sm="25" (change)="toggleLocation($event)">{{ 'Users.Location' | translate }}</mat-slide-toggle>
        <mat-slide-toggle color="warn" formControlName="restaurant" fxFlex.xs="100" fxFlex.lg="25" fxFlex.md="25"
          fxFlex.sm="25" (change)="toggleRestuarant($event)">{{ 'Users.Restaurant' | translate }}</mat-slide-toggle>
        <mat-slide-toggle [hidden]="true" color="warn" formControlName="RFPTemplate" fxFlex.xs="100" fxFlex.lg="25" fxFlex.md="25"
          fxFlex.sm="25">{{ 'Users.RFPTemplate' | translate }}</mat-slide-toggle>
      </div>

      <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutGap.lt-sm="0px" fxFlex.xs="100"
        fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
        <mat-slide-toggle [hidden]="true" color="warn" formControlName="userMgmt" fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50"
        fxFlex.sm="50">{{ 'Users.UserMgmt' | translate }}</mat-slide-toggle>
          <mat-slide-toggle [hidden]="true" color="warn" formControlName="nearBy" fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50"
            fxFlex.sm="50">{{ 'Users.NearBy' | translate }}</mat-slide-toggle>
          
        </div>
        <mat-form-field [hidden]="true" fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <textarea matInput placeholder="{{ 'Users.Notes' | translate }}" matAutosizeMinRows="3" formControlName="notes"></textarea>
        </mat-form-field>
      </div>
      <mat-divider class="mt-10"></mat-divider>
      <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
          <div fxFlex="70">
            <!-- <button mat-raised-button color="warn" (click)="generateNewPassword()" [disabled]="!isEdit">
              Generate New Password
            </button> -->
          </div>
          <div fxFlex="30" fxLayoutAlign="end center" fxLayoutGap="20px">
            <button mat-raised-button color="warn" fxFlex.sm="40" fxFlex="30" type="submit" [disabled]="!userForm.valid">
              {{ 'common.Save' | translate }}
            </button>
            <button mat-raised-button color="basic" (click)="cancel()" fxFlex.sm="40" fxFlex="30">
              {{ 'common.Cancel' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>