<div class="card card-with-border" >
  <div class="strip-warning"></div>
  <div class="modal-body text-center">
      <div class="mb2rm">
        <em class="fa fa-2x fa-exclamation-triangle fa-warning" aria-hidden="true"></em>
      </div>
      <div class="mb2rm">
        <span x-automation-id="unauthorized-user-active-msg">There are changes in privileges, you will be redirected to home page</span>
      </div>
  </div>
  <div class="mb1rm modal-buttons text-center">
      <button type="button" class="btn btn-primary sm-btn-padding" (click)="cancel()" x-automation-id="unauthorized-user-active-decline">
        OK
      </button>
  </div>
</div>
