<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
  <div fxFlex class="panel-component-holder mat-elevation-z4">
    <mat-toolbar class="panel-header">
      <h1 class="mat-headline center-align" fxFlex="70">{{ 'PanelHeader.UserManagement' | translate }}</h1>
      <div fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="default" (click)="addUser()">
          <mat-icon color="primary">add_circle</mat-icon> {{ 'Buttons.AddUser' | translate }}
        </button>
      </div>
    </mat-toolbar>
    <div class="panel-container">
      <div class="example-header" style="padding: 0 20px;">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.sm="0px">

            <mat-form-field fxFlex.xs="100" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="30">
              <mat-select [formControl]="activeStatusControl" placeholder="{{ 'Users.List.Status' | translate }}"
                (selectionChange)="filterUser()">
                <mat-option value="All">{{ 'Users.StatusList.All' | translate }}</mat-option>
                <mat-option value="Active">{{ 'Users.StatusList.Active' | translate }}</mat-option>
                <mat-option value="InActive">{{ 'Users.StatusList.InActive' | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap.sm="0px" fxFlex.xs="100"
              fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="70">
              <mat-form-field floatPlaceholder="never" style="color: black;" fxFlex.xs="100" fxFlex.lg="50"
                fxFlex.md="50" fxFlex.sm="50">
                <!-- <input matInput #filter placeholder="Filter users" (keydown.enter)="filterUser()"> -->
                <input matInput #filter placeholder="{{ 'Users.List.FilterUsers' | translate }}">
                <mat-icon matSuffix (click)="filterUser()">search</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort style="margin-top: 20px;">
        <!-- <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="First_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Users.FirstName' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.First_Name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Last_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Users.LastName' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Last_Name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Company_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Users.List.Organization' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Company_Name}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="Subscription_Type_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Users.SubscriptionType' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Subscription_Type_Name}} </mat-cell>
        </ng-container> -->

<!-- 
        <ng-container matColumnDef="Department_Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Users.List.Department' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Department_Name}}</mat-cell>
        </ng-container> -->


        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Users.List.Email' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="IsActive">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Users.List.Status' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.IsActive}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> {{ 'Users.List.Action' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button (click)="tableAction(row.Userid, 'view')"
              color="primary">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button mat-button (click)="tableAction(row.Userid, 'delete')"
            color="primary">
            <mat-icon color="primary" >delete_forever</mat-icon>
          </button>
            <!-- <button mat-button (click)="tableAction(row.Userid, 'delete')" color="primary">Delete</button> -->
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

      </mat-table>

      <div class="no-results" [style.display]="dataSource?.data.length == 0 ? '' : 'none'">
        {{ 'CommonMessage.NoRecords' | translate }}
      </div>


      <mat-paginator #paginator [length]="totalRecords" [pageIndex]="defaultPageIndex" [pageSize]="defaultPageSize"
        [pageSizeOptions]="[1, 5, 10, 25, 50, 100]">
      </mat-paginator>
    </div>

  </div>
</div>