.lang-flags {
  position: absolute;
  right: 20px;
}

.no-results {
  padding-left: 24px;
  padding-top: 10px;
}

.flag-icon {
  height: 23px !important;
  width: 24px !important;
  border-radius: 100% !important;
  background-size: cover !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 5px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.plr-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.mlr-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
