<perfect-scrollbar style="height: calc(100vh - 65px);">
  <div fxLayout="column">
    <!-- <div *ngIf="!iconOnly" fxLayoutAlign="space-around center" [style.margin]="'10px 0px'">
      <img width="100" [style.borderRadius]="'50%'" src="./assets/Images/profile.jpg">
    </div>
    <div *ngIf="iconOnly" style="height: 100px;" fxLayoutAlign="space-around center">
      <img width="50" [style.borderRadius]="'50%'" src="./assets/Images/profile.jpg">
    </div> -->
    <app-sidemenu-item *ngFor="let menu of menus" [menu]="menu" [paths]="paths" [iconOnly]="iconOnly">
    </app-sidemenu-item>
  </div>
</perfect-scrollbar>