<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="panel-component-holder mat-elevation-z4">
      <mat-toolbar class="panel-header">
        <h1 class="mat-headline center-align">{{ 'PanelHeader.ChangePassword' | translate }}</h1>
      </mat-toolbar>
      <div class="panel-container">
  
          {{ 'PanelHeader.ChangePassword' | translate }}
       
      </div>
  
    </div>
  </div>