.btn:hover{

    border-color: orangered !important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.draw-borderO {
    box-shadow: inset 0 0 0 1px rgb(111, 111, 111);
    color: rgb(111, 111, 111);
    transition: color 0.25s 0.08333s;
    position: relative;
}

    .draw-borderO::before, .draw-borderO::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
    }

    .w125 {
        width: 125px;
        height: 85px;
    }

    .notification .badgeC {
        position: absolute;
    top: 0%;
    z-index: 99;
    left: 0px;
    font-size: 25px;
    height: 35px;
    width: 35px;
    padding: 0px 0px;
    border-radius: 5%;
    background-color: #ff4619;
    color: white;
    }

    hr{
        border-style: dashed;
    }

    .fontgrey {
        color: rgb(250, 72, 25) !important;
    }

    .ac{
        text-align: center !important;
    }

    .nu{
        text-decoration: none !important;
    }

    .fw{
        font-weight: bold;
    }

    .disable{
        opacity: 0.5;
        pointer-events: none !important;
    }

    