<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
  <div fxFlex class="panel-component-holder mat-elevation-z4">
    <mat-toolbar class="panel-header">
      <h1 class="mat-headline center-align">{{ 'PanelHeader.RFPManagement' | translate }}</h1>
    </mat-toolbar>
    <div class="panel-container">
      <div class="example-header" style="padding: 0 20px;">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.sm="0px">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap.sm="0px" fxFlex.xs="100"
              fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100">
              <mat-form-field floatPlaceholder="never" style="color: black;" fxFlex.xs="100" fxFlex.lg="50"
                fxFlex.md="50" fxFlex.sm="50">
                <input matInput #filter placeholder="{{ 'RFP.List.Search' | translate }}">
                <mat-icon matSuffix (click)="filterRFP()">search</mat-icon>
              </mat-form-field>
            </div>
            <!-- <mat-form-field fxFlex.xs="100" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="30">
              <mat-select [formControl]="activeStatusControl" placeholder="{{ 'RFP.List.Status' | translate }}"
                (selectionChange)="filterRFP()">
                <mat-option value="All">{{ 'RFP.StatusList.All' | translate }}</mat-option>
                <mat-option *ngFor="let status of requestStatus" [value]="status.value"> {{status.display}} </mat-option>
              </mat-select>
            </mat-form-field> -->
            
          </div>
        </div>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort style="margin-top: 20px;">

        <ng-container matColumnDef="RfpId">
          <mat-header-cell *matHeaderCellDef > {{ 'RFP.List.RequestId' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.RfpId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UserName">
          <mat-header-cell *matHeaderCellDef > {{ 'RFP.List.UserName' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.UserName}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="Event_Name">
          <mat-header-cell *matHeaderCellDef > {{ 'RFP.List.EventName' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Event_Name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CreatedDate">
          <mat-header-cell *matHeaderCellDef > {{ 'RFP.List.RequestDate' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.CreatedDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DaysRunning">
          <mat-header-cell *matHeaderCellDef > {{ 'RFP.List.RequestDuration' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.DaysRunning}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Hotel_Status">
          <mat-header-cell *matHeaderCellDef > {{ 'Users.Hotel' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> 
              <a (click)="tableAction(row.RfpId,'H')" class="btn draw-borderO w125 notification {{row.Hotel_Status == null ? 'disable':''}}" ><span class="badgeC">{{row.TotalHotelResource}}</span><img src="/assets/Images/HotelB.png"> <br>{{ 'Users.Hotel' | translate }}<hr><span class="ac fontgrey nu fw">{{row.Hotel_Status == null ? "N/A":row.Hotel_Status }}</span></a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TotalHotelResource">
          <mat-header-cell *matHeaderCellDef > {{ 'RFP.List.HotelCount' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.TotalHotelResource}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Restaurant_Status">
          <mat-header-cell *matHeaderCellDef > {{ 'Users.Restaurant' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <a (click)="tableAction(row.RfpId,'R')" class="btn draw-borderO w125 notification {{row.Restaurant_Status == null ? 'disable':''}}" ><span class="badgeC">{{row.TotalRestaurantResource}}</span><img src="/assets/Images/RestaurantB.png"> <br>{{ 'Users.Restaurant' | translate }}<hr><span class="ac fontgrey nu fw">{{row.Restaurant_Status == null ? "N/A":row.Restaurant_Status}}</span></a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TotalRestaurantResource">
          <mat-header-cell *matHeaderCellDef > {{ 'RFP.List.RestaurantCount' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.TotalHotelResource}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Location_Status">
          <mat-header-cell *matHeaderCellDef > {{ 'Users.Location' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <a (click)="tableAction(row.RfpId,'L')" class="btn draw-borderO w125 notification {{row.Location_Status == null ? 'disable':''}}" ><span class="badgeC">{{row.TotalLocationResource}}</span><img src="/assets/Images/LocationB.png"> <br>{{ 'Users.Location' | translate }}<hr><span class="ac fontgrey nu fw">{{row.Location_Status == null ? "N/A":row.Location_Status}}</span></a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TotalLocationResource">
          <mat-header-cell *matHeaderCellDef > {{ 'RFP.List.LocationCount' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.TotalLocationResource}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

      </mat-table>

      <div class="no-results" [style.display]="dataSource?.data.length == 0 ? '' : 'none'">
        {{ 'CommonMessage.NoRecords' | translate }}
      </div>

      <mat-paginator #paginator [length]="totalRecords" [pageIndex]="defaultPageIndex" [pageSize]="defaultPageSize"
        [pageSizeOptions]="[1, 5, 10, 25, 50, 100]">
      </mat-paginator>
    </div>

  </div>
</div>