<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<mat-toolbar class="mat-elevation-z4">
  <button mat-icon-button (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>
  <button mat-icon-button (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>

  <span class="spacer"></span>

  <!-- <button mat-icon-button (click)="searchOpen = !searchOpen" fxHide="true" [fxHide.gt-xs]="false">
    <i class="material-icons">search</i>
  </button>
  <cdk-search-bar [open]="searchOpen"></cdk-search-bar>

  <cdk-toolbar-notification [notifications]="toolbarHelpers?.notifications"></cdk-toolbar-notification> -->
  
  <app-user-menu></app-user-menu>
    <button mat-icon-button fxHide="true" [fxHide.gt-xs]="false" (click)="useLanguage('de')">
        <span class="flag-icon flag-icon-de"></span>
      </button>
      <button mat-icon-button fxHide="true" [fxHide.gt-xs]="false" (click)="useLanguage('en')">
          <span class="flag-icon flag-icon-us"></span>
        </button>

  <!-- <button mat-icon-button (click)="sidebar.toggle();">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button> -->

</mat-toolbar>