@import "../../../assets/scss/variables";

.padleft {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: left;
}

.padright{
    float: right;
    text-align: right;
    width: 50%;
    padding: 10px;
}

.bars{
    color:  $secondary !important;
    cursor: pointer;
    opacity: 0.8;
}

.logout{
    color: $secondary;
}

.functionalities{
  clear: both;
  position: relative;
}
.functionalities li{
  list-style: none;
  float: left;
  padding-right: 10px;
}
.funcionalidades.container {
  width: 100%;
  margin: auto;
}

.breadcrumb{
    border-radius: 0px !important;
}

.functionalities ul.breadcrumb{
  background-color:$primary;
    padding: 0 1.5em;
  clear: both;
  height: 40px;
}
.functionalities ul.breadcrumb li{  
  background-color:$secondary; 
  border-right: 3px solid #fff;
  transform: skewX(-25deg);
  height: 40px;
  padding: 0 20px;
  position: relative;
  top: 0; 
  line-height: 40px;
  opacity: 0.8;
}
.functionalities ul.breadcrumb li:first-child {
  display: none;
}
.functionalities ul.breadcrumb li:nth-child(2) {
  border-left: 3px solid #fff;
}
.functionalities ul.breadcrumb li:last-child {
  border-right: none;
}
.functionalities ul.breadcrumb li a{	
  color: #fff;
  transform: skewX(25deg);
  display: inline-block;
}
.functionalities ul.breadcrumb li a:hover, .functionalities ul.breadcrumb li a:focus{
  text-decoration: none;
  color: #7b4446;
}
.functionalities ul.breadcrumb li strong {
    color: #fff;
    text-decoration: none;
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
    display: inline-block;
    /* font-size: 1.5rem; */
    /* font-weight: 400; */
    text-transform: uppercase;
}
.functionalities ul.breadcrumb i{
  position: relative;
  top: 5px;
  float: none;
}
