
<div class="padleft col-md-6">
    <img src="../assets/Images/logo.png">
</div>

<div class="padright">
    
 <div class="btn-group" dropdown placement="bottom right">
  <a id="button-alignment"  class="bars" dropdownToggle aria-controls="dropdown-alignment"> <i class="fa fa-bars fa-3"></i> </a>
    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-alignment">
      <li role="menuitem"><a class="dropdown-item" href="javascript:;" [routerLink]="['/consumer/EditProfile']">{{ 'HeaderFooter.EditProfile' | translate }}</a></li>
      <li role="menuitem"><a class="dropdown-item" href="javascript:;" [routerLink]="['/consumer/ChangePassword']">{{ 'HeaderFooter.ChangePassword' | translate }}</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item logout" href="/logout">{{ 'HeaderFooter.LogOut' | translate }}</a></li>
    </ul>
</div>      
</div>
<div class="block_1 hline-bottom">&nbsp;</div>
<div class="s12 functionalities">
  <ul id="breadcrumb" class="breadcrumb">
    <li></li>
    <li>
      <a title="{{'BreadScrum.Home' | translate}}" href="javascript:;" [routerLink]="['/consumer']" ><i class="fa fa-home fa-2"></i></a>
    </li>
    <li class="active" *ngIf="showAddUser"><strong>{{'BreadScrum.AddUser' | translate}}</strong></li>
    <li class="active" *ngIf="showEditUser"><strong>{{'BreadScrum.EditUser' | translate}}</strong></li>
    <li class="active" *ngIf="showViewUser"><strong>{{'BreadScrum.ViewUser' | translate}}</strong></li>
  </ul>				
</div>
