<mat-tab-group>
    <mat-tab label="Overview">

        <div class="sidebar">

            <h3 class="mat-subheading-2" style="margin: 10px 14px 0;">Upcoming Events</h3>
            <mat-nav-list>
                <div *ngFor="let event of events;">
                    <mat-list-item>
                        <div fxLayout="row" fxLayoutAlign="start center" mat-ripple>
                            <div fxLayout="column">
                                <div class="mat-ubheading-2" style="margin: 0; font-weight: bold;">{{ event.title }}</div>
                                <div style="font-size: 12px;">{{ event.time }}</div>
                            </div>
                        </div>
                    </mat-list-item>
                </div>
            </mat-nav-list>

        </div>
    </mat-tab>

    <mat-tab label="Notifications">
        <div class="sidebar">
            <div>
                <h3 style="margin: 10px 14px 0;">Friends</h3>

            </div>
        </div>

    </mat-tab>
</mat-tab-group>

<mat-divider></mat-divider>

<mat-nav-list>
    <div>
        <h3 class="mat-subheading-2" style="margin: 10px 14px 0;">Server Statistics</h3>
        <div>
            <mat-list-item>
                <h5>CPU Load</h5>
                <mat-progress-bar [color]="'accent'" [mode]="'buffer'" [value]="'70'" [bufferValue]="100">></mat-progress-bar>
            </mat-list-item>
        </div>


        <div>
            <mat-list-item>
                <h5>RAM Usage</h5>
                <mat-progress-bar [color]="'primary'" [mode]="'buffer'" [value]="'47'" [bufferValue]="100"></mat-progress-bar>
            </mat-list-item>
        </div>


        <div>
            <mat-list-item>
                <h5>CPU Temp</h5>
                <mat-progress-bar [color]="'warn'" [mode]="'buffer'" [value]="'43'" [bufferValue]="100"></mat-progress-bar>
            </mat-list-item>
        </div>

    </div>
</mat-nav-list>