.loader-container {
  background-color: white;
  width: 100%;
  // height: 100vh;
  top: 0px;
  padding-top: 26%;
  padding-bottom: 28%;
  overflow: hidden !important;
  z-index: 2000;
  position: fixed;

  -moz-animation: cssAnimation 1s ease-in 3s forwards;
  /* Firefox */
  animation: cssAnimation 1s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 1s ease-in 3s forwards;
  animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes cssAnimation {
  to {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}



.spinner2 {
  position: relative;
  // margin: 50vh auto 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  width: 100px;
  text-align: center;
  height: 20px;
}

.spinner2>div {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce3 {
  background-color: orange;
}

.spinner2 .bounce1 {
  background-color: blue;
  animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner2 .bounce2 {
  background-color: red;
  animation-delay: -0.16s;
  animation-delay: -0.16s;
}



@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    transform: scale(0)
  }

  40% {
    transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    transform: scale(0);
    transform: scale(0);
  }

  40% {
    transform: scale(1.0);
    transform: scale(1.0);
  }
}