@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import '../../app/admin/admin.component.scss';
@import '../../app/shared/sidemenu/sidemenu.component.scss';
@import '../../app/shared/sidemenu-item/sidemenu-item.component.scss';
@import './dashcard.component.scss';
@import './profile-card.component.scss';
@import './round-progressbar.component.scss';
@import './sales-list.component.scss';
@import './spinner.scss';
@import '~flag-icon-css/css/flag-icon.css';

$primary : $mat-red;
$accent : $mat-grey;
$warn : $mat-red;

$mat-light-theme-background: (
  status-bar: map_get($accent, 300),
  app-bar: map_get($accent, 100),
  background: map_get($primary, 50),
  hover: rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card: white,
  dialog: white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($accent, 300),
  selected-disabled-button: map_get($accent, 400),
  disabled-button-toggle: map_get($accent, 200),
  unselected-chip: map_get($accent, 300),
  disabled-list-option: map_get($accent, 200),
);

@include mat-core();

$panel-header-bg: map_get($primary, 600);
$panel-border: map_get($primary, 600);
$panel-font-color: white;



$primary-app-primary: mat-palette($primary, 400);
$primary-app-accent: mat-palette($accent, 500);
$primary-app-warn: mat-palette($warn);
$cdk-theme: mat-light-theme($primary-app-primary, $primary-app-accent, $primary-app-warn);

app-sidemenu {
  $sidemenu-app-primary: mat-palette($primary, 400);
  $sidemenu-app-accent: mat-palette($accent, 500);
  $sidemenu-app-warn: mat-palette($warn);
  $app-sidemenu-theme: mat-dark-theme($sidemenu-app-primary, $sidemenu-app-accent, $sidemenu-app-warn);
  @include mat-list-theme($app-sidemenu-theme);
}


app-sidemenu-item {
  @include sidemenu-item($cdk-theme, 20px)
}


cdk-dashcard {
  $dashcard-primary: mat-palette($primary);
  $dashcard-accent: mat-palette($accent);
  $dashcard-warn: mat-palette($warn);
  $dashcard-theme: mat-dark-theme($dashcard-primary, $dashcard-accent, $dashcard-warn);
  @include dashcard($dashcard-theme);
}

cdk-profile-card {
  $dashboard-profile-primary: mat-palette($primary, 400);
  $dashboard-profile-accent: mat-palette($accent, 500);
  $dashboard-profile-warn: mat-palette($warn);
  $cdk-dashboard-profile-theme: mat-dark-theme($dashboard-profile-primary, $dashboard-profile-accent, $dashboard-profile-warn);
  @include dashboard-profile($cdk-dashboard-profile-theme);
  @include mat-tabs-theme($cdk-dashboard-profile-theme);
}

@include angular-material-theme($cdk-theme);
@include auth($cdk-theme);
@include round-progressbar($cdk-theme);
@include sales-list($cdk-theme);


html {
  height: 100%;
}

body {
  padding: 0px !important;
  margin: 0px !important;
}

.components-container-gt-xs {
  padding: 20px;
  // background-color: #fdfdfd;
}

.components-container-xs {
  padding: 5px !important;
  // background-color: #fdfdfd;
}

.component-preview {
  padding: 20px;
}

.ps-content {
  height: 100%;
}

/* For Panel */
.panel-header {
	background-color: $panel-header-bg;
	color: $panel-font-color;
	padding: 0 5px;
}
.panel-container {
  padding: 10px 15px 15px 15px;
  min-height: calc(100vh - 26vh);
}
.panel-component-holder {
	border: 1px solid $panel-header-bg;
  background-color: $panel-font-color;
  margin-bottom: 25px;

	h4 {
		color: $panel-header-bg;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}

app-sidemenu-item .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 25px !important;
}

mat-slide-toggle {
  padding-bottom: 1.25em;
  min-height: 50px;
}

.mat-expansion-panel-body {
  margin-top: 10px !important;
}

.mat-expansion-panel-spacing .mat-expansion-panel-header, .mat-expansion-panel-header {
  background: map_get($accent, 200) !important;
}
